name: "Automerge Dependabot PRs"

on:
  pull_request:
    types: [opened, labeled, synchronize, reopened]

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read
    steps:
      - name: Automerge Dependabot PRs
        uses: pascalgn/automerge-action@v0.16.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          merge_method: squash
          author: dependabot[bot]
          label: dependencies
          merge_when_checks_succeed: true
          allow_no_review: true
          rules: |
            [
              {
                "author": "dependabot[bot]",
                "labels": ["dependencies"],
                "semver": ["patch"]
              }
            ]
# Only semver patch updates will be auto-merged.
# semver minor and major updates will require manual review.
